body{
    font-family:Calibri,sans-serif;
    font-size: 20px;
    text-align: center;
    background: linear-gradient(180deg,lightgray,skyblue);
}
div {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    display: inline-block;
    background: linear-gradient(180deg,skyblue,lightgray);
}
.button{
    background-color: black;
    color: white;
}
input{
    color: azure;
}
h2{
    color: aliceblue;
}